<menu xmlns="http://www.hl7.org/fhir">
  <item name="Home" href="index.html"/>
  <item name="Resources">
    <item name="InventoryItem" href="resources/InventoryItem.html"/>
    <item name="InventoryIReport" href="resources/InventoryIReport.html"/>
    <item name="Task" href="resources/Task.html"/>
    <item name="SupplyDelivery" href="resources/SupplyDelivery.html"/>
    <item name="SupplyRequest" href="resources/SupplyRequest.html"/>
  </item>
</menu>
